@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pokemon';
    src: url('./fonts/Pokemon-Solid.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.header {
    font-family: 'Pokemon';
    font-size: 2rem;
}